<div class="container-fluid">
  <h1>Venir en Lozère</h1>
<h2>  <img class="card-img-top" src="src/img/glyphicons-29-cars.png"> Liaisons routieres</h2>
<div *ngIf="liaisonsRoutieres">
<table class="table">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Axe</th>
      <th>Distance</th>
      <th>Duree</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let liaison of liaisonsRoutieres">
          <td>{{liaison.destination}}</td>
          <td>{{liaison.axe}}</td>
          <td>{{liaison.distance}}</td>
          <td>{{liaison.duree}}</td>
        </tr>
  </tbody>
</table>
</div>
<h2><img class="card-img-top" src="src/img/glyphicons-15-train.png"> Liaisons ferrovières</h2>

<h1>Venir à la maison des vautours</h1>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11442.078181643536!2d3.2475785!3d44.1963649!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc45d78956b71ec79!2sMaison+des+Vautours!5e0!3m2!1sfr!2sfr!4v1498572597073"
  width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
