<h1>PLAN DU BELVEDERE</h1>
  <h2>Un batiment enchassé dans les gorges de la Jonte</h2>
<div class="card-deck" *ngIf="liensUtiles">
    <div class="card" *ngFor="let lien of liensUtiles" >
      <div class="card-img-top" style=" height: 100px; overflow:hidden">
      <img  src="{{lien.img}}" style="width: 100%">
      </div>
      <div class="card-block">
        <h5 class="card-title">{{lien.titre}}</h5>
        <p class="card-text">{{lien.description}}</p>
       
      </div>
      <div class="card-footer">
         <a href="{{lien.url}}" class="btn btn-primary">Consulter</a>
      </div>
    </div> 
</div>


