<h1>PLAN DU BELVEDERE</h1>
  <h2>Un batiment enchassé dans les gorges de la Jonte</h2>
<div class="card-group">
  
    <div class="card">
      <img class="card-img-top" src="src/img/panneau.jpg" width="100%" height="auto">
      <div class="card-block">
        <h5 class="card-title">Espace Museographique</h5>
        <p class="card-text">Le vautour et les grands causses</p>
        <p class="card-text">Disparition & Réintroduction</p>
        <p class="card-text">Se nourrir, Se reproduire et Voler</p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="src/img/observatoire.jpg" width="100%" height="auto">
      <div class="card-block">
        <h5 class="card-title">Terrasse d'observation</h5>
        <p class="card-text">Vue sur les gorges et les falaises</p>
        <p class="card-text">Equipée de longues vues</p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="src/img/famillevaut.jpg"  width="100%" height="auto">
      <div class="card-block">
        <h5 class="card-title">Observatoire vidéo</h5>
        <p class="card-text">Transmission commentée en direct grâce à des caméras pointées sur les sites de nidification</p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="src/img/vaut.jpg"  width="100%" height="auto">
      <div class="card-block">
        <h5 class="card-title">Boutique & Expositions</h5>
        <p class="card-text">livres, cartes postales, affiches, photographies, souvenirs...</p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
    </div>


 
    <div class="card">
      <img class="card-img-top" src="src/img/gorges.jpg"  width="100%" height="auto">
      <div class="card-block">
        <h5 class="card-title">Sorties LPO</h5>
        <p class="card-text">Randonnées à thème sur les oiseaux, organisées par la Ligue de Protection des Oiseaux</p>
        <a href="#" class="btn btn-primary">Consulter</a>
      </div>
    </div>
  </div>


